<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
	
<style type="text/css">
	#top-container{
		margin:40px;
	}
	button{
		margin-right: 40px;
	}
</style>	
	
</head>
<body>
	<div id="top-container">
		<a href="register"><button class="btn btn-primary"><b>+ Add New Contact</b></button></a>
		<a href="loadUpdatePage"><button class="btn btn-warning"><b>Update Contact</b></button></a>
		<a href="loadDeletePage"><button class="btn btn-danger"><b>Delete Contact By Email</b></button></a>
		<a href="loadViewPage"><button class="btn btn-primary"><b>View Contact Using Email</b></button></a>
		<a href="loadViewAllPage"><button class="btn btn-primary"><b>View All Contacts</b></button></a>
	</div>
</body>
</html>